---
layout: default
title: Five minute breakfasts every week
cover: false
logo: true


---

<header class="main-header">
    <nav class="main-nav">
        {% if page.logo %}
        <a class="logo" href="{{ site.url }}">
            <img src="/assets/images/logo.svg" alt="Logo" />
        </a>
        {% endif %}
		
		
		<nav role="navigation">
			<div id="menuToggle">
    
				<input type="checkbox" />
    
    <span></span>
    <span></span>
    <span></span>
    
        
			<ul id="menu">
            {% for nav_item in site.data.nav %} {% if page.url == nav_item.link %}
            <li class="active">
                {% else %}
                <li>
                    {% endif %}
                    <a class="navlink" href="{{ nav_item.link }}">{{ nav_item.name }}</a>
                </li>
                {% endfor %}
        </ul>
		</div>
    </nav>
</header>


<div class="kitchen">
	
	
	<h1 class="intro">Fifteen minute breakfasts for productive week</h1>
	
	
	<a class="start_link" href="/breakfasts">Try today for free</a>
	<div class="front-image"></div>
	
	
  

</div>