---
layout: default
title: Projects
cover: false
logo: true


---

<header class="main-header {% if page.cover %}" style="background-image: url({{ page.cover }}) {%else%}no-cover{% endif %}">
    <nav class="main-nav overlay clearfix">
        {% if page.logo %}
        <a class="blog-logo" href="{{ site.url }}">
            <img src="/assets/images/logo.png" alt="Blog Logo" />
        </a>
        {% endif %}
        <ul class="nav navbar-nav navbar-right">
            {% for nav_item in site.data.nav %} {% if page.url == nav_item.link %}
            <li class="active">
                {% else %}
                <li>
                    {% endif %}
                    <a href="{{ nav_item.link }}">{{ nav_item.name }}</a>
                </li>
                {% endfor %}
        </ul>
    </nav>
</header>
<div class="projects-grid">
    {% assign items = site.projects | sort: 'date' %}
  {% for item in items reversed %}
        
        <a class="project-name" href="{{item.url}}" class="project-title">
                <div class="single-project-cover" style="background-image: url({{ item.project-cover }})"></div>
            <div class="project-text-name">    
                <div class="project-title">{{item.title}}</div>
                <div class="project-description">{{item.description}}</div>
            </div>    
        </a>
  {% endfor %}

    </div>